
 body {background-color:black;font-family:arial;color:white}
 
/* .container {
    background-color:white;
    border-radius: 20px;
    height: auto;
   


} */

.maindiv {
    background-color:white;
    color: black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align-content: center;
    border-radius: 25px;
     

    }
/* h1 {
    color:grey;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 38px;
    font-family:Verdana, Geneva, Tahoma, sans-serif

} */
h1{color:grey;font-family:verdana;}
