
 body {background-color:black;font-family:arial;color:white; height:600px;}

.maindiv {
    background-color:white;
    color: black;
    width:500px;
    padding:20px;
    border-radius:25px;
    border-radius: 25px; 
    }

h1{color:grey;font-family:verdana;}
/* Footer Control */
.rich{
    text-align: left;
}

/* .htmlelements{
     padding: 50px;
} */

.table {
    margin: auto;
  }
  
  #result {
    padding-top: 100px;
  }
  
  .int{
  /* width: auto; */
    /* height: 1%; */
    /* margin: auto; */
    border: solid red 2px;
  }
   .btn {
     margin-left: 22%;
   }
   .btnresults{
     margin-left: 22%;
   }